# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# Docker
# Don't ignore the docker-compose.yml, but ignore the data volume if you bind-mount it
postgres_data/

# Environment Variables (Keep your secrets safe!)
.env

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db